.map {
    height: 100%;
    width: 100%;
    position: fixed;
}
.searchField{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.leftChart{
    width: 45%;
    height: 70%;
    margin-top: 20px;
    margin-bottom: 20px; 
    position: fixed;
    left: 2.5%;
    right: 50%;
    top: 30%;
}
.rightChart{
    width: 45%;
    height: 70%;
    margin-top: 20px;
    margin-bottom: 20px; 
    position: fixed;
    left: 50%;
    right: 2.5%;
    top: 30%;
}
.background{
    height: 100%;
    width: 100%;
    opacity: 0.6;
    z-index: 0;
    position: fixed;
}
.customBtn{
    z-index: 100;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.leftBtn{
    right: 65%;
  
}
.rightBtn{
    left: 65%;
}


